<section class="sb1ds-section-static">
  <h{{depth}} class="ffe-h{{depth}} sb1ds-section-static__h{{depth}} sb1ds-header-offset" id="{{ section.target }}">{{ section.name }}</h{{depth}}>

  {{{ section.content }}}
</section>

{{#if section.sections.length }}
  {{#each section.sections}}
    {{> section section=this depth=(increment ../depth)}}
  {{/each}}
{{/if}}
